%footer.container
  %p Created by Eric Kelly, Tabor Chichakly, Tyler Healion, and Andrew Merrick
  
%script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
%script(src="/js/script.js")
%script(src="/js/ckeditor/ckeditor.js")
